.catalog__container {
  display: flex;
  justify-content: space-between;
  .catalog__aside {
    margin: 20px;
  }
  .catalog__content {
    flex: 100%;
    .catalog__products {
      max-width: 1350px;
    }
    .catalog__catigories {
      margin-top: 16px;
      .catalog__breadcrumbs.topmenu {
        & .catalog__breadcrumbs-item {
          color: #828282;
          & .catalog__breadcrumbs-link {
            color: inherit;
            padding: 10px 20px;
            display: inline-block;
            font-size: 22px;
            &:hover {
              cursor: pointer;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.catalog__breadcrumbs__submenu {
  position: absolute;
  max-width: 400px;
  z-index: 5;
  .catalog__breadcrumbs-item {
    position: relative;
    .catalog__breadcrumbs-link {
      display: block;
      background-color: peachpuff;
      border-bottom: 1px solid black;
      padding: 10px 20px;
      display: inline-block;
      font-size: 16px;
    }
  }
}

.catalog__breadcrumbs__submenu .catalog__breadcrumbs__submenu {
  position: absolute;
  top: 0;
  left: 80%;
  .catalog__breadcrumbs-item {
    position: relative;
    .catalog__breadcrumbs-link {
      display: block;
      background-color: hotpink;
    }
  }
}

.catalog__breadcrumbs__submenu
  .catalog__breadcrumbs__submenu
  .catalog__breadcrumbs__submenu {
  position: absolute;
  .catalog__breadcrumbs-item {
    position: relative;
    .catalog__breadcrumbs-link {
      display: block;
      background-color: crimson;
    }
  }
}

.form__checkbox-label {
  color: #3f3f3f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  &.form__checkbox {
    color: #000;
  }
}

.form__checkbox-label:hover {
  cursor: pointer;
}

.label__yellow span {
  color: yellow;
  background-color: yellow;
  border: solid 2px rgb(255, 230, 0);
}

.label__blue span {
  color: blue;
  background-color: blue;
  border: solid 2px rgb(0, 0, 103);
}

.label__red span {
  color: red;
  background-color: red;
  border: solid 2px rgb(108, 0, 0);
}

.label__black span {
  color: black;
  background-color: black;
  border: solid 2px #525252;
}

.aside__filterBtn {
  margin: 20px auto;
}
.aside__resetBtn {
  background-color: #d8d8d8;
  color: black;
}

.catalog__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 26px;
  width: 100%;
  & .catalog__card {
    max-width: 300px;
    margin-top: 40px;
    & .card__img-block {
      & {
        .card__img {
          height: 400px;
          width: 300px;
          object-fit: cover;
        }
      }
    }
    & .card__caption {
      font-family: Oswald;
      font-style: normal;
      line-height: normal;
      font-weight: 600;
      & .product__name {
        color: #000;
        font-size: 20px;
        height: 45px;
      }
      & .product__description {
        color: #868686;
        font-size: 14px;
        height: 90px;
      }
      & .product__price {
        color: #000;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
