.catalog__products {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  & .catalog__card {
    max-width: 344px;
    margin-top: 40px;
    & .card__img-block {
      & {
        .card__img {
          height: 450px;
          width: 344px;
        }
      }
    }
    & .card__caption {
      & .product__name {
        color: #000;
        font-family: Oswald;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        line-height: normal;
      }
      & .product__description {
        color: #868686;
        font-family: Oswald;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        height: 70px;
      }
      & .product__price {
        color: #000;
        font-family: Oswald;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}
