.create_account {
  max-width: 1450px;
  margin: 24px auto 59px;
}
.create_account__box {
  border: 1px solid $color4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 103px;
  padding-bottom: 124px;
  .button-black {
    margin-top: 61px;
  }
}

.create_account__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 600px;
}

.create_account__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 443px;
    height: 35px;
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }
}

.sing_up {
  color: #828282;
  font-family: "Roboto";
}

// .create_account__list {

//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
// }

// .create_account__item {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }

// // .create_account__box {
// //  display: flex;
// //  align-items: center;
// //  justify-content: center;
// //  flex-wrap: wrap;
// //  flex-direction: column;
// //  label input {
// //   //display: block;
// //  }
// // }
