.main_welcome {
  background:
    linear-gradient(
      174deg,
      rgba(255, 255, 255, 0.6) 35.42%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("assets/img/main_bg.png") no-repeat top left / 100% 100%,
    lightgray 50% / cover no-repeat;
}

.main_welcome__box {
  display: flex;
  margin: 45px auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.welcome_col_1 {
  flex: 0 0 40%;
  align-items: center;
  justify-self: center;
  @media (max-width: 650px) {
    order: 2;
  }
  & .button-main {
    padding-left: 21px;
    margin: 0 auto;
  }
}

.welcome_col_2 {
  display: flex;
  flex: 1 0 60%;
  display: flex;
  align-items: center;
  margin: 20px;
}

.welcome_dress {
  flex: 1 1 50%;
  padding: 1px;
  img {
    max-width: 100%;
    width: 100%;
  }

  &:first-child {
    transform: scale(0.9);
  }
  &:last-child {
    transform: scale(1);
    margin-left: -10%;
  }
}

.main__title {
  font-size: 86px;
  font-weight: 600;
  line-height: 111%;
  text-transform: uppercase;
  max-width: 504px;
  position: relative;
  border-top: $color1 solid 2px;
  border-right: $color1 solid 2px;
  padding: 21px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 1350px) {
    font-size: 65px;
  }
  @media (max-width: 1070px) {
    font-size: 55px;
  }
  @media (max-width: 900px) {
    font-size: 45px;
  }
  @media (max-width: 700px) {
    font-size: 35px;
  }
  margin: 15px;
}

.main_brands {
  position: relative;
  h2 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 5%;
    background-color: white;
    padding: 0px 30px;
    width: 110px;
    &::after {
      content: "";
      width: 50%;
    }
  }
}

.main_brands__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid 2px #c4c4c4;

  li .brands__img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    opacity: 0.8;
  }
  li svg {
    max-width: 100%;
    width: 139px;
  }
  .prada img {
    width: 139px;
    height: 141px;
  }
}
