.product_page__imgs {
  margin: 0 auto;
  padding: 15px;
  height: 500px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
